
.buy-btn {
    margin-top: 20px;
}
.card-img-top {
height: 100%;
width: 100%;
object-fit: cover;
object-position: center center;
}

.card {
height: 100%;
}


.button1{
    border-radius: 5px !important;
    border: 2px solid black;
    color: black;
    height: 40px;
    width: 100px;
    background-color: rgb(216, 176, 101) ;
  }
  .button1:hover{
    background-color: black;
    color: white;
  }