*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: wheat !important;
}

.nav-link {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: black;
  }
  
  .nav-link::after {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background: black;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }
  .nav-link:hover::after{
    transform: scaleX(1);
  }
  .custom-btn{
    background-color: black;
    color: white;
}
.custom-btn-1{
    color: rgb(255, 255, 255);
    background-color: black;
    border: none;
    padding: 0 20px;
    width: 100px;
    height: 45px;
    margin-left: 20px;
    text-align: center;
    border-radius: 30px;
    margin-bottom: 5px;
    
}

  .custom-btn-1:hover{
    color:wheat;
    padding: 0 20px;
    width: 100px;
    height: 45px;
    text-align: center;
    border-radius: 30px;
    margin-bottom: 5px;
}
.bg-custom{
    color: rgb(216, 185, 127) !important;
 }
 .underline {
     width: 120px;
     height: 4px;
     background-color: gray;
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
     bottom: -0px;  /* Yeh value adjust kar sakti ho overlap ke liye */
 }
 .custom-bg{
    background-color: rgb(184, 159, 114);
}
.custom-bg:hover{
    color: rgb(44, 42, 42);
    background-color: rgb(184, 159, 114);
}

 .bg-custom1{
    background-color: rgb(216, 176, 101)!important;
  }
 .bg-custom2{
    background-color: rgb(202, 168, 104) !important;
  }
  .bg-custom3{
    background-color: rgb(216, 176, 101) !important;
  }
  .button{
    border: black solid 3px;
    color: black;
    border-radius: 50px;
    height: 60px;
    width: 170px;
    background-color: rgb(216, 176, 101) ;
  
  }
  .button:hover{
    border: black solid 3px;
    color: rgb(255, 255, 255);
    background-color: black;
    height: 60px;
  }
  .button1{
    border: black solid 3px;
    color: black;
    border-radius: 50px;
    height: 60px;
    width: 190px;
    background-color: rgb(216, 176, 101) ;
  
  }
  .button1:hover{
    border: black solid 3px;
    color: rgb(255, 255, 255);
    background-color: black;
    height: 60px;
  }




